<h2>LogIn Here</h2>

<form  action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>LogIn</button>
</form>
<a class="" href="/register">SignUp</a>
<br>
<a class="" href="/login">LogIn</a>
<br>
<a class="" href="/logout">LogOut</a>
