<h1>Signup form</h1>

<form  action="/register" method="post">
  <input type="text" name="username" placeholder="user name">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Submit</button>
</form>
<a class="" href="/register">SignUp</a>
<br>
<a class="" href="/login">LogIn</a>
<br>
<a class="" href="/logout">LogOut</a>
